@use "../../../variable/" as *;
$box-text-color-primary: $color-copper;
$box-text-color-secondary: $color-grey;
$box-padding: $radius-m; // 內邊距確保文字不會太靠邊

.hover-info-box {
  background-color: transparent; // ⭐ 背景透明
  color: $box-text-color-primary; // ⭐ 文字顏色
  padding: $box-padding;
  text-align: center;
  border: none; // ⭐ 沒有邊框
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  // pointer-events: none; // ⭐⭐ 讓 HoverInfoBox 本身不攔截滑鼠事件，事件會直接透傳到 FullScreenGrid 容器上

  &__title {
    font-size: map-get($font-size, xxl);
    font-weight:$bolder;
    margin-bottom: $space-s;
    line-height: $line-h-m;
    color: $box-text-color-primary;
    letter-spacing: $letter-s;
    // pointer-events: none; // 文字元素本身也不攔截事件
  }

  &__description {
    font-size: map-get($font-size, m);
    color: $box-text-color-secondary;
    line-height: $line-h-l;
    letter-spacing: $letter-s;

  }
}