// color var
$color-mainblack: #1B1F3B;
$color-copper: #DAA36F;
$color-copperdark: #826142;
$color-copperyellow: #FFD52B;
$color-blue: #2B75FF;

$color-deep: #5A5374;
$color-grey: #C2C8CC;
$color-accent: #7fffd4;

$color-light: #F9FAFF;
$color-blackt: #0E101F;


// alpha 
$alpha: transparent;

$alpha-w80: rgba(27, 31, 59, 0.8);
$alpha-w70: rgba(68, 75, 130, 0.7);
