// color var
$color-mainblack: #1B1F3B;
$color-copper: #DAA36F ;
$color-copperyellow: #FFD52B ;

$color-deep: #5A5374 ;
$color-grey: #C2C8CC;
$color-accent: #7FFFD4;

$color-light: #F9FAFF;
$color-blackt: #0E101F;


// alpha 
$alpha: transparent;

$alpha-w70: rgba(27, 31, 59, 0.7);
$alpha-w30: rgba(255,255,255, .3);
$alpha-w40: rgba(255,255,255, .4);
$alpha-w50: rgba(255,255,255, .5);

$alpha-b15: rgba(0,0,0,.15);
$alpha-b30: rgba(0,0,0,.3);
$alpha-b60: rgba(0,0,0,.60);

$alpha-p60:rgba(194, 158, 159, 0.6);