 @use "./variable" as *;
// @use "./function" as *;
@use "./reset";
//中文
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
//英文
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist','Noto Sans TC' ;
}
