.sixhousepage1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sixhousepage2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sixhousepage3 {
    display: flex;
    justify-content: center;
    align-items: center;
}